[submodule "Project_CTR"]
	path = Project_CTR
	url = https://github.com/RealSilentPirate/Project_CTR.git
[submodule "bannertool"]
	path = bannertool
	url = https://github.com/RealSilentPirate/bannertool.git
[submodule "devkitPro"]
	path = devkitPro
	url = https://github.com/devkitPro/buildscripts.git
